<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main page</title>
</head>
<body>
    <h1>    Привіт</h1>
    <h1>Ти на головній сторінці!</h1>
<form action="/submit_plus" method="post">
    <input type="text" name="num1" placeholder="Enter 1st num: " value={{val1}}>
    <input type="text" name="num2" placeholder="Enter 2nd num: " value="{{val2}}">
    <button type="submit" name="plus-button">plus</button>
    <button type="submit" name="minus-button">minus</button>
    <button type="submit" name="multiply-button">multiply</button>
</form>
<form action="/go_to_about" method="post">
    <button onclick="alert('you are going to About page')"
            type="submit">About
    </button>
</form>
    <h1> Plus: {{ message1 }}</h1>
    <h1> Minus: {{ message2 }}</h1>
    <h1> Multiply: {{ message3 }}</h1>
</body>

</html>